/* color palette from <https://github.com/vuejs/theme> */
:root {
  --blue:#5EACB2;
  --orange:#ED6A33;
  --size-sm:380px;
  --size-md:768px;
  --background-gradient: linear-gradient(to right, #ff9966, #66ccff);
  --button-large:270px
}

/*--- fonts ---*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'barricada-pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Barricada.ttf') format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a{
  color:inherit
}

h1{
  font-family: "barricada-pro", serif;
  font-weight: 400;
  font-style: normal;
}

.heading{
  font-size:2.5em;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

/*--- Global styles ---*/

#app,
main{
  min-height: 100vh;
}

body {
  margin:0;
  width: 100%;
  min-height: 100vh;
}

main{
  max-width:var(--size-sm);
  height: auto;
  margin:0 15px;
}

.content{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*--- Alignment ---*/

.flex{
  display: flex;
}

.flex.column{
  flex-direction: column;
}

/*--- Buttons ---*/

button{
  appearance: none;
  border-radius: 20px;
  background-color: transparent;
  padding:10px 20px;
  box-shadow: none;
  border: none;
  width:var(--button-large);
}

.btn.blue{
  background-color: var(--blue);
  color: white;
}

.btn.outline{
  background-color: transparent;
  color: var(--orange);
  border: 2px solid var(--blue);
}

.btn.icon{
  display: flex;
  align-items: center;
  gap:20px;
}

.btn.icon img{
  width: 20px;
  height: 20px;
}

.simple-icon{
  max-width: 36px;
  max-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
